@font-face {
  font-family: "Gilroy Light ";
  font-style: normal;
  font-weight: normal;
  src: local(Gilroylight), url("../fonts/web/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local(Gilroyextrabold), url("../fonts/web/gilroyextrabold.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-family: "Open Sans Light", Arial, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-container {
  position: relative;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-top: 29px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 160px;
  background-color: #ffe27f;
}

.header-logo {
  position: absolute;
  top: -18px;
}

.user-block {
  margin-bottom: 12px;
}

.search {
  position: relative;
  width: 440px;
  float: left;
  padding-top: 10px;
  padding-left: 40px;
}

.search::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: transparent url("../img/search.png") no-repeat;
}

.search input {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;
}

.user-navigation {
  float: right;
  width: 503px;
  padding-top: 15px;
}

.user-navigation div {
  max-width: 100px;
}

.user-navigation a {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.login {
  float: left;
  margin-right: 180px;
}

.compare {
  float: left;
}

.trash {
  float: right;
}

a.trash {
  text-align: right;
}

a.login::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 13px;
  left: 5px;
  height: 12px;
  background: transparent url("../img/user.png") no-repeat;
}

a.compare::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 13px;
  height: 12px;
  background: transparent url("../img/user.png") no-repeat;
  background-position: center;
}

a.trash::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  width: 13px;
  height: 12px;
  background: transparent url("../img/user.png") no-repeat;
  background-position: right;
}

a {
  text-decoration: none;
}

.catalog {
  position: relative;
  float: left;
  padding-top: 20px;
}

.catalog::after {
  content: "";
  position: absolute;
  top: 28px;
  right: -28px;
  width: 16px;
  height: 16px;
  background: transparent url("../img/plus.png") no-repeat;
}

.main-navigation a {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #000000;
}

.navigation {
  float: right;
  width: 500px;
}

ul.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.main-nav li:first-child {
  float: left;
  margin-right: 35px;
}

.main-nav li:nth-child(2) {
  float: left;
}

.main-nav li:nth-child(3) {
  float: right;
  text-align: right;
}

section {
  width: 1160px;
  height: 486px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: -111px;
  margin-bottom: 105px;
}

.slider {
  position: relative;
}

.slider-catalog {
  overflow: hidden;
}

.slider-inner {
  width: 300%;
  transition: transform 0.8s;
}

.slider-slides {
  float: left;
  width: 1160px;
  height: 486px;
}

.slider-foto {
  float: left;
  width: 565px;
}

.slider-foto img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider-text {
  float: right;
  padding-top: 10px;
  padding-right: 60px;
  width: 505px;
}

.slider-number {
  float: right;
  height: 126px;
  overflow: hidden;
}

h1 {
  font-family: "Gilroy ExtraBold";
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.7px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.title {
  margin-top: 70px;
  margin-bottom: 17px;
}

.logo-img {
  width: 260px;
  height: 100px;
  overflow: hidden;
}

.slider-discription {
  width: 490px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  word-spacing: 1px;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 5px;
}

.read-more a {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
  margin-left: 45px;
}

.item {
  display: inline-block;
  width: 160px;
  margin-top: 65px;
}

.item1 {
  display: block;
  font-family: "Gilroy Light";
  font-size: 36px;
  color: #000000;
  margin-bottom: 15px;
}

.item-text {
  display: block;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.slider-items div:nth-child(3) {
  margin-left: -25px;
}

.slider-toggle {
  position: absolute;
  right: 70px;
  bottom: 140px;
}

.slider-toggle input[type=radio] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 3px solid #b2b2b2;
  margin: 0 10px;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border: 3px solid #000000;
}

#btn-1:checked ~ .slider-catalog .slider-inner {
  transform: translateX (0);
}

#btn-2:checked ~ .slider-catalog .slider-inner {
  transform: translateX (-1160px);
}

#btn-3:checked ~ .slider-catalog .slider-inner {
  transform: translateX (-2320);
}

.popular-sections {
  display: flex;
  flex-direction: column;
  width: 1160px;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.section-image {
  width: 160px;
  height: 160px;
  margin-right: 40px;
  margin-bottom: 35px;
  overflow: hidden;
}

.section-title {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  width: 160px;
  height: 50px;
  margin-right: 40px;
}

.slider-services {
  position: relative;
  width: 1160px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  margin-top: 145px;
}

.slider-controls-1 {
  float: left;
  width: 280px;
  padding-top: 20px;
  padding-left: 5px;
}

.slider-controls-1 label {
  display: inline-block;
  width: 160px;
  cursor: pointer;
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-align: center;
  margin-bottom: 38px;
}

.slider-toggle-1 input[type=radio] {
  display: none;
}

.slider-catalog1 {
  overflow: hidden;
}

.slider-inner-1 {
  width: 2640px;
  transition: transform 0.8s;
}

.slider-description-1 {
  float: left;
  width: 765px;
  padding-left: 115px;
}

.slider-text-1 {
  float: left;
  width: 450px;
}

.slider-img {
  float: right;
  line-height: 0;
  padding-top: 18px;
  padding-right: 73px;
}

p.slider-text1 {
  display: block;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  word-spacing: 1.7px;
}

.vendor-logo {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.info {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-top: 40px;
}

.about us {
  width: 580px;
}

p.about {
  padding-right: 120px;
  padding-bottom: 30px;
  margin: 0;
}

.contacts {
  width: 580px;
  padding-left: 20px;
}

.info h1 {
  margin-bottom: 40px;
}

.delivery-company {
  list-style: none;
  font-family: "Gilroy ExtraBold";
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.delivery-company li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 3px solid #b2b2b2;
  margin-right: 25px;
}

.map img {
  margin-top: 25px;
}

.read-more1 {
  margin-top: 60px;
  width: 260px;
  text-align: center;
}

.read-more1 a {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}

.main-footer {
  margin-top: 85px;
  padding: 60px 140px;
  background-color: #444444;
}

.footer-logo {
  float: left;
  width: 360px;
  height: 36px;
  overflow: hidden;
  margin-top: 5px;
}

.user-navigation1 {
  float: right;
  width: 360px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.user-navigation1 div {
  width: 120px;
}

.user-navigation1 a {
  text-decoration: none;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
}

div.login-footer {
  width: 103px;
  padding-right: 17px;
}

.footer-main {
  margin-top: 30px;
}

.adress {
  float: left;
  width: 368px;
}

.number {
  float: right;
  width: 352px;
  text-align: right;
}

.adress p,
.number p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-navigation {
  float: left;
  width: 440px;
}

.main-footer p {
  margin: 0;
}

ul.navigate {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

ul.navigate li {
  width: 120px;
  padding-right: 38px;
  padding-top: 3px;
}

ul.navigate li:last-child {
  padding-right: 0;
}

.navigate a {
  font-family: "Gilroy ExtraBold";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.footer-end {
  margin-top: 70px;
}

.footer-element {
  float: left;
  width: 80px;
  height: 7px;
  background-color: #ffe27f;
}